<h3>How much would you like to bet?</h3>

<h4>You currently have $<%="#{session[:money]}"%></h4>
 



<form action='/set_bet' method='post'>
   Bet:<br/>
    <input type='text' name='current_bet' autocomplete="off"/>
    <br/> 
    <input type="submit" class="btn">
</form>

